<div class="row">
    <div class="col-lg-8">
        <!-- Post content-->
        <article>
            <header class="mb-4">
                <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
                <div class="text-muted fst-italic mb-2">
                    Posted on January 1, 2023 by Start Bootstrap
                </div>
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
            </header>

            <figure class="mb-4">
                <img class="img-fluid rounded"
                     src="https://dummyimage.com/900x400/ced4da/6c757d.jpg"
                     alt="..." />
            </figure>

            <section class="mb-5">
                <p class="fs-5 mb-4">
                    Science is an enterprise that should be cherished as an activity of the free human mind.
                </p>
                <p class="fs-5 mb-4">
                    The universe is large and old...
                </p>
                <p class="fs-5 mb-4">
                    If you get asteroids about a kilometer in size...
                </p>

                <h2 class="fw-bolder mb-4 mt-5">
                    I have odd cosmic thoughts every day
                </h2>

                <p class="fs-5 mb-4">
                    For me, the most fascinating interface is Twitter...
                </p>
                <p class="fs-5 mb-4">
                    Venus has a runaway greenhouse effect...
                </p>
            </section>
        </article>

        <!-- Comments section-->
        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <form class="mb-4">
                        <textarea class="form-control" rows="3"
                            placeholder="Join the discussion and leave a comment!"></textarea>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <!-- Side widgets-->
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">Search</div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" type="text"
                        placeholder="Enter search term..." />
                    <button class="btn btn-primary" type="button">Go!</button>
                </div>
            </div>
        </div>
    </div>
</div>